<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.select.wuliu.mapper.carLineMapper">

<!-- 根据车辆id查询所有线路  List<carLine> findcarLIneBycarid(Integer carid);-->
<select id="findcarLIneBycarid" resultType="com.select.wuliu.entity.carLine">
	select 
	*
	from line_car
	WHERE
	carId = #{carId}
   and  isDel=0 
	</select>
	
	<!-- 根据车辆线路主键删除线路   Integer UpdatecarLIneByid(Integer id); -->
	<update id="UpdatecarLIneByid">
	update line_car
	set<if test="isDel!=null">
	isDel=#{isDel}
	</if>
	where 
	id=#{id}
	</update>
	
	
	
</mapper>





