<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico">
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>

<![endif]-->
<link href="/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="/h-ui.admin/css/H-ui.admin.css" rel="stylesheet"
	type="text/css" />
<link href="lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet"
	type="text/css" />

<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>刷新计划列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>查看刷新计划<span class="c-gray en">&gt;</span>
 <a style="color: blue;" th:href="@{/blank5(id=${bcompanyId})}">返回网点刷新计划列表</a>
 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
	<input type="hidden"  th:value="${bcompanyId}" class="input-text" style="width:100px" id="companyId"/>
		<input type="text" name="" id="name" placeholder=" 输入时间或者序号ID" style="width:250px" class="input-text">
		<button name="" id="" onClick="findtasksBylikename()" class="btn btn-primary radius" ><i class="Hui-iconfont">&#xe665;</i> 根据序号或者时间查询</button>
		<button onclick="removetasks()" class="btn btn-danger radius">批量删除当前刷新计划</button>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
			<tr>
				<th scope="col" colspan="9">查询统计
				<label  id="quanbu"  class="r" >查看第
	<select style="width:60px"  id="pageNum" onChange="chakanFrequencyCron()" >
			<option value="0"   > 请选择</option>
		</select>
		页
	 <span class="r">共有： <span id="total1" ></span> 页,总共：<strong id="tiaoshu" ></strong>条</span>,
	 显示
   <select  id="pageSize" onChange="chakanFrequencyCron()">
<option value="10"  >10</option>
<option value="25" >25</option>
<option value="50" >50</option>
<option value="100" >100</option>
</select>
条,</label>
<label  id="guanjian"  class="r" style="display:none;">查看第
	<select style="width:60px"  id="pageNum1" onChange="findtasksBylikename()" >
			<option value="0"   > 请选择</option>
		</select>
		页
	 <span class="r">共有： <span id="total" ></span> 页,总共：<strong id="tiaoshu1" ></strong>条</span>,
	 显示
   <select  id="pageSize1" onChange="findtasksBylikename()">
<option value="10"  >10</option>
<option value="25" >25</option>
<option value="50" >50</option>
<option value="100" >100</option>
</select>
条,</label>
				
				</th>
			</tr>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="80">线路序号</th>
					<th width="80">网点ID</th>
					<th width="200">网点名称</th>
					<th width="80">出发地</th>
					<th width="80">到达地</th>
					<th width="80">状态</th>
					<th width="150">刷新时间</th>
				</tr>
			</thead>
			<tbody id="table-result">
			<div id="company"></div>
			<tr class="text-c"  >
					<td><input type="checkbox" name="duoxuan"></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td >等待</td>
					<td >2014-6-11 11:11:42</td>
				</tr>
				
			</tbody>
		</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	chakanFrequencyCron();
});


//查看计划列表chakanFrequencyCron()
function chakanFrequencyCron(){
	 var url="../blan";
	 common(url);
}
 function findtasksBylikename(){
	 var pageNum=$('#pageNum1 option:selected').val();
	 var pageSize=$('#pageSize1 option:selected').val();
	// console.log(pageNum+"页数")
	 findtaskscommon(pageNum,pageSize);
 }


//模糊所有计划列表
function findtaskscommon(pageNum,pageSize){
	document.getElementById("quanbu").style.display='none';
	document.getElementById("guanjian").style.display='block';
	var url="../getalltasksBylikename";
	 var companyId=$.trim($("#companyId").val());
	 var tbody=window.document.getElementById("table-result");
	 var name=$.trim($("#name").val());
	 $.ajax({
			"url":url,
		  "data":{
			  "id":companyId,
			  "pageNum":pageNum,
			  "pageSize":pageSize,
			  "name":name,
			},  
			"type":"post",
			"dataType":"json",
			"success":function(json){
				if(json.state==200){
					var str="";
					var data=json.data;
					$("#company").text(str);
					for(i in data){
							str+="<tr class='text-c'>"+
							"<td><input type='checkbox' value='"+data[i].time+'!'+data[i].linedId+"' name='duoxuan'></td>"+
							"<td align='center'>"+data[i].linedId+"</td>"+
							"<td align='center'>"+data[i].id+"</td>"+
							"<td align='center'>"+data[i].wname+"</td>"+
							"<td align='center'>"+data[i].sta+"</td>"+
							"<td align='center'>"+data[i].end+"</td>"+
							"<td align='center'>"+data[i].status+"</td>"+
							"<td align='center'>"+data[i].time+"</td>"+
							"</tr>";
					}
					//console.log(data[i].pages+"页数")
					var total=0;
					var tiaoshu=0;
					if (data.length==0){
						total=0;
						tiaoshu=0;
					}else{
						
					 total=data[i].pages;
					 tiaoshu=data[i].totals;
					}
					tbody.innerHTML=str;
					$("#total").text(total);
					var option =""
						for(var i=0;i<total;i++){
							//先创建好select里面的option元素
			                 option += "<option value='"+(i+1)+"' >"+(i+1)+"</option>";
						}
				    $('#pageNum1').html(option);
				    $('#pageNum1').val(pageNum);
					$("#tiaoshu1").text(tiaoshu);
					
				}else if(json.state==402){
					alert(json.message);
				}
				
			}
		});
	 
	
	
}

function common(url){
	 var companyId=$.trim($("#companyId").val());
	 var tbody=window.document.getElementById("table-result");
	 var pageNum=$.trim($("#pageNum").val());
	 var pageSize=$.trim($("#pageSize").val());
	 var name=$.trim($("#name").val());
	 $.ajax({
			"url":url,
		  "data":{
			  "id":companyId,
			  "pageNum":pageNum,
			  "pageSize":pageSize,
			  "name":name,
			},  
			"type":"post",
			"dataType":"json",
			"success":function(json){
				if(json.state==200){
					var str="";
					var data=json.data;
					$("#company").text(str);
					for(i in data){
							str+="<tr class='text-c'>"+
							"<td><input type='checkbox' value='"+data[i].time+'!'+data[i].linedId+"' name='duoxuan'></td>"+
							"<td align='center'>"+data[i].linedId+"</td>"+
							"<td align='center'>"+data[i].id+"</td>"+
							"<td align='center'>"+data[i].wname+"</td>"+
							"<td align='center'>"+data[i].sta+"</td>"+
							"<td align='center'>"+data[i].end+"</td>"+
							"<td align='center'>"+data[i].status+"</td>"+
							"<td align='center'>"+data[i].time+"</td>"+
							"</tr>";
					}
					//console.log(data[i].pages+"页数")
					var total=0;
					var tiaoshu=0;
					if (data.length==0){
						total=0;
						tiaoshu=0;
					}else{
						
					 total=data[i].pages;
					 tiaoshu=data[i].totals;
					}
					tbody.innerHTML=str;
					$("#total1").text(total);
					var option =""
						for(i=0;i<total;i++){
							//先创建好select里面的option元素
			                 option += "<option value='"+(i+1)+"' >"+(i+1)+"</option>";
						}
				    $('#pageNum').html(option);
				    $('#pageNum').val(pageNum);
					$("#tiaoshu").text(tiaoshu);
					
				}else if(json.state==402){
					alert(json.message);
				}
				
			}
		});
	 
}


	
//删除当前所选
function removetasks(){
	var url="../removetasks";
	 var arr=[];//定义一个数组
	    var arr2=$("input[name='duoxuan']:checked");//获取多选框的数组
	    $.each(arr2,function () {
	        arr.push($(this).val());//把多选框数组的value放入自己定义的里面
	    })
	   // alert(arr)
	 var id=$.trim($("#companyId").val());
	console.log("参数data:"+id);
	$.ajax({
		"url":url,
	  "data":{
		  "ids" : arr.join(",")
		 
		},  
		"type":"post",
		"dataType":"json",
		"success":function(json){
			if(json.state==200){
				alert("批量删除成功！");
				location.href="";
			}else if(json.state==402){
				alert(json.message);
			}
		}
	});
}








</script>
</body>

</html>