<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>验证密码 - 会员管理 - H-ui.admin v3.1</title>
<meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> <a style="color: blue;" th:href="@{/member-del}" >返回删除的/..列表</a> <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<article class="page-container">
	<form action="/" method="post" class="form form-horizontal" id="form-change-password">
		<div class="pd-20">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>请输入密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="提示：登录账户密码.." name="newpassword" id="password">
				
			</div>
		</div>
		<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">
						<span class="c-red">*</span>
						请选择：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<span class="select-box inline">
						<select class="select" id="testSelect" name="">
			<option value="0">还原删除</option>
			<option value="1">彻底删除</option>
		</select>
		</span>
					</div>
				</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius"   onclick="goinmember()"  type="button" value="&nbsp;&nbsp;处理删除的物流公司&nbsp;&nbsp;">
				<input class="btn btn-primary radius"   onclick="goinmember1()"  type="button" value="&nbsp;&nbsp;处理删除的网点&nbsp;&nbsp;">
				<input class="btn btn-primary radius"   onclick="goinmember2()"  type="button" value="&nbsp;&nbsp;处理删除的线路&nbsp;&nbsp;">
				<input class="btn btn-primary radius"   onclick="goinmember3()"  type="button" value="&nbsp;&nbsp;处理删除的会员&nbsp;&nbsp;">
			</div>
		</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>  
<script type="text/javascript" src="/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
//点击处理公司
function goinmember(){
		var url="../tokenUserinfo2";
		genenral(url);
	
}
//点击处理线路goinmember2()
function goinmember2(){
		var url="../tokenUserinfo3";
		genenral(url);
	
}
//点击处理网点goinmember1()
function goinmember1(){
		var url="../tokenUserinfo4";
		genenral(url);
	
}
//goinmember3()点击处理删除的会员
function goinmember3(){
		var url="../tokenUserinfo5";
		genenral(url);
	
}

//通用方法
function genenral(url){
	var password=$.trim($("#password").val());
	var type=$('#testSelect option:selected').val()
	console.log(type);
	$.ajax({
		"url":url,
	  "data":{
		  "password":password,
		  "type":type,
		},  
		"type":"post",
		"dataType":"json",
		"success":function(json){
			if(json.state==202){
				alert("彻底删除成功！");
				location.href="member-del";
			}else if(json.state==200){
				alert("还原成功！");
				location.href="member-del";
			}else if(json.state==402){
				alert(json.message);
				location.href="member-del";
			}
			
			
		}
	});
	
	
}









$(function(){
	$("#form-change-password").validate({
		rules:{
			newpassword:{
				required:true,
				minlength:3,
				maxlength:16
			},
			newpassword2:{
				required:true,
				minlength:3,
				maxlength:16,
				equalTo: "#newpassword"
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>