

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
   
<style type="text/css">
*{margin: 0;padding: 0;}
.top-box{margin-left: 100px;width: 90%;}
dl{line-height: 35px;margin: 0;}
	.abs-sheng,.list-one,.btnzhen-xian{ 
	
	vertical-align:top;
	width: 80px;
	display: inline-block;
	line-height:36px;
    text-align: left;
    color: #df0000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
	line-height:22px;
	height:22px;
	margin-top: 7px;
}
   #myModal .modal-body a,.message-box a, .abs-shi,.btnzhen-a,.qu,.xian{
	
    text-decoration: none;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    font-size: 14px;
    padding:0 4px;
    text-align: center;
    color: #666;
	margin-left:8px;
	height:22px;
	line-height:22px;
	width: auto;
	font-weight:400;
}
.message-box a{ margin:0 0 2px 2px;}
 #myModal .modal-body a{ margin: 10px; font-size:16px;}
.abs-sheng{ margin: 0;line-height: 20px;}
.abs-shi:hover{ cursor: pointer;}
#btn-zhensub{display:none;}
.floatbox{position: fixed;top: 0px;left: 0px;width: auto;padding-right: 5px;}

.col-xs-3{width: 100px;}
.ppp {display: inline-block;width: 80%;line-height: 36px;margin: 0;}
#myModal .checked, #shi .checked, #shi2 .checked,#shi3 .checked{background-color: #d9534f;color: #fff !important;border-color: #d43f3a; border-radius:3px;}

#shi .checkeds{color: #fff;border-color: #d43f3a;}

.panel-title{cursor:pointer;}
#btn{position: fixed;
	right:130px;top: 0;
	font-size: 14px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-weight: bold;
    width: 100px;
    height: 35px;
  }
    ul.nav-tabs{
        width: 80px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav-tabs li{
        margin: 0;
        border-top: 1px solid #ddd;
    }
    ul.nav-tabs li:first-child{
        border-top: none;
    }
    ul.nav-tabs li a{
        margin: 0;
        padding: 0px 16px;
        border-radius: 0;
        text-align: center;
		line-height:1.2;
    }
    ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
        color: #fff;
        background: #0088cc;
        border: 1px solid #0088cc;
    }
    ul.nav-tabs li:first-child a{
        border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs li:last-child a{
        border-radius: 0 0 4px 4px;
    }
    ul.nav-tabs.affix{
        top: 30px; /* Set the top position of pinned element */
    }
   .head-h2{display: inline-block;height: 100%;padding:10px ;}
	.panel-heading{ padding: 0px 15px 0 5px;}
    .list-memu {padding: 5px 5px 5px 15px;}
    .jumbotron{padding: 10px;margin: 0px;margin-left: 115px;width: 88%;border-radius: 5px;}
    .jumbotron h1{font-size: 30px;line-height: 30px;margin: 0;padding: 0;text-align: center;}
    .panel-heading, .list-memu dl dd{position: relative;}
    .panel-heading .b-true{position: absolute;top: 3px;right:45px;}
	.btn-zhen{position: absolute;top: 0;right:  -5px;}
	.list-memu dl dd .b-yes{position:absolute; top:0; right:0; margin-right:40px;}
	.zhendiv{width: 80%;display: inline-block;}
	.btnzhen-a:hover{cursor: pointer;}
    @media (min-width: 768px){	.modal-dialog {width: 700px;margin: 30px auto;} }
    .head-line{	display: block; }
    .modal-body .btnzhen-xian{margin: 0;line-height: 20px;}
    #btn-zhensub{position: absolute;top: 10px;right: 60px;}
   
	.b-dj{position:absolute;top:3px;right:0;}
	#btn-top{ position: fixed; bottom: 0; right: 30px;display:none;}
	 
	.nonebox,.message-box{ width: 100%; height: auto;border: 1px solid #ccc;min-height: 50px;}
	.message{width: 100%;height: auto; margin: 10px auto; display:none;}
	.message-box p{margin-left: 2px;}
	 #modal-sub{ position:absolute: }
	
</style>
<script type="text/javascript">
	$(function(){
		var txts="";
		var zhens="";
	
		$("#myNav li:eq(0)").addClass("active");
		// $(".floata").on("click",function(){
		// var a=$(this).attr("id2");
		// var h=$("span[id2="+a+"]").offset().top;
		//  $('html ,body').animate({scrollTop: h},10);
		// }); 
		$(window).on('scroll',function(){
			var hh=$(document).scrollTop();
			if(hh>=50){
				$("#btn-top").show();
			}else{
				$("#btn-top").hide();
				}
        })
	
		$("#btn-top").on("click",function(){
			$('html ,body').animate({scrollTop: 0},500);
			})
		 $('#myModal').on('hide.bs.modal', function () {
		 	$(".modal-body").html("");
			$("#btn-zhensub").hide();
			$(".checked").removeClass("checked");
			$(".message").hide();
			$(".message-box").text("");
		 });
		$("#btn-int").on("click",function(){
		$(".checked").removeClass("checked");
		$("#btn-zhensub").show();
		$(".message").show();
		$("#myModalLabel").text("国际线路");
		$("#btn-zhensub").show();
	    var gjson="";
		gjson+="<div class='m-top'></div>";
		
		for( m=0;m<5;m++){
		gname=guojijson[m].zname;
		gjson+="<div class='m-bottom'>";
		gjson+="<p class='btnzhen-xian'>"+gname+"</p>";
		gjson+="<div class='zhendiv'>";
		gnamearr=guojijson[m].guojia.split("|");
			for (  w=0;w<gnamearr.length-1;w++){
				
		var xarr1=gnamearr[w].split("_");
		gjson+="<p class='btnzhen-a' qu="+gnamearr[w]+" id2="+xarr1[1]+">"+xarr1[0]+"</p>";
		
			
			}
			gjson+="</div>";
			gjson+="</div>";
			}
		
		$(".modal-body").html(gjson);
			   });
			
		  $("#modal-sub,#modal-sub1").on("click",function(){
			  var $checked=$(".modal-body .checked");
			for(var i=0;i<$checked.length;i++){
				zheni=$(".checked").eq(i).attr("id2");
				
				zhens+=zheni+",";
			}
			console.log("zhens"+zhens)
			//调用添加线路方法
			addallcommon(zhens);
			//$("#daodadi1").val(zhens);
			//form2.submit();
			zhens="";
			$(".checked").removeClass("checked");
			  });
			  
			 
		 $(".btn-zhen").on("click",function(){
			$(".checked").removeClass("checked");
		 	$("#btn-zhensub").show();
			$("#btn-zhensub").show();
			$(".message").show();
		 	var btnzhen="";
		 	zhenshi=$(this).siblings(".list-one").text();
			$("#myModalLabel").text(zhenshi);
			var $a=$(this).siblings("p").find("a");
			for(n=0;n<$a.length;n++){
				au=$(this).siblings("p").find("a").eq(n).attr("id2");
				autext=$(this).siblings("p").find("a").eq(n).text();
				for(m=0;m<zhenjson.length;m++){
					if(zhenjson[m].xid==au&&zhenjson[m].xz!=""){
						var btzhen=zhenjson[m].xz.split("|");
						btnzhen+="<p  class='btnzhen-xian'  id2="+au+">"+autext+"</p>";
						btnzhen+="<div class='zhendiv'>";
						for(x=0;x<btzhen.length-1;x++){
							var btzhens=btzhen[x].split("_")
							btnzhen+="<p  class='btnzhen-a'  qu='"+zhenshi+autext+btzhen[x]+"' id2="+btzhens[1]+">"+btzhens[0]+"</p>";
						}
						btnzhen+="</div>";
						}
			}}
			$(".modal-body").html(btnzhen);
				
			});
		
		$(".modal-body").on("click","a",function(){
		
			//var btnid2=$(this).attr("id2");
			//$(this).toggleClass("checked");
			//$("[id2="+btnid2+"]").eq(0).toggleClass("checked");
		 var cla=$(this).hasClass("checked");
					$(this).toggleClass("checked");
					if(cla==false){
					
						$(".message-box").append($(this).clone())
						 
					}else{
						
						id2=$(this).attr("id2");
						$(".message-box a[id2="+id2+"]").remove(); 
						 
					}
		 
		})
		
		
		$("#btn-sd").on("click",function(){
			$(".checked").removeClass("checked");
			$("#myModalLabel").text("省会加地级市");
			$("#btn-zhensub").show();
			$(".message").show();
			
			$.ajax({
	           url: '../shengshi',
                 type: 'get',
                 dataType: 'json',
                   data: '',
                success: function(res){
                    var data = res.data;
                    var citystr1="";
	                for (i in data){
	                var	sname=data[i]['areaname'];
	                	//console.log("sname:"+sname)
	    				var spy=data[i]['areaid'];	
	    				citystr1 += "<div class='m-bottom'>";
	    				citystr1 += "<p class='abs-sheng'    qu="+sname+" id2="+spy+">"+sname+"</p>";
	    				citystr1 +="<div class='zhendiv'>"; 	
			            
			              let data2 = res['data'][i]['diqu'];
							for(var a=0;a<data2.length;a++){
	 						citystr1+="<p class='abs-shi' qu="+data2[a]["areaname"]+"  id2="+data2[a]["areaid"]+">"+data2[a]["areaname"]+"</p>";
	 						//console.log("sname:+++"+data2[a]["areaname"])
	 					} 
							citystr1 += "</div>";
							citystr1 += "</div>";
							// console.log("citystr1111:"+citystr1)
							$(".modal-body").html(citystr1);
	                }
                }
			
			});
			
			 
		});
		$("#btn-pro").on("click",function(){
		$(".checked").removeClass("checked");
		$("#btn-zhensub").show();
			$(".message").show();
			$("#myModalLabel").text("省");
			//$(".head-h2,.list-one:lt(3)").toggleClass("checked");
			//$(".modal-body").append($(".checked").clone());
			 $(".modal-body").append($(".head-h2,.list-one:lt(3)").clone());
			
		});
		/* $("body").on("click",".jumbotron",function(){
			
			$(".jumbotron a").toggleClass("checked");
			
		}); */
		$("#btn-all").on("click",function(){
		$("#shi a").toggleClass("checked");
		});
		$("#btn-dj").on("click",function(){
			$(".list-one,.head-h2").toggleClass("checked");
			
		});
		$("#btn-xian").on("click",function(){
		$(".xian,.list-one,.head-h2").toggleClass("checked");
	
		});
		
		$("#btn-qu").on("click",function(){
		$(".qu,.list-one,.head-h2").toggleClass("checked");
	
		});
		$("#btn-zh").on("click",function(){
			$(".checked").removeClass("checked");
		});
		$("#shi").on('click','.b-true',function(){
			
			$(this).siblings("a").toggleClass("checked")
			$(this).parent().parent().toggleClass("checkeds")
			$(this).parent().siblings().children().children().find("a").toggleClass("checked");
			$(this).parent().siblings().children().children("p").children().toggleClass("checked");
		 });

		$("#shi").on('click',' .list-one,.head-h2',function(){
			
			$(this).toggleClass("checked");
		 });
		$("body").on('click','.btnzhen-a',function(){
			$(this).toggleClass("checked");
		 });
		$("body").on('click','.btnzhen-xian',function(){	
			$(this).next().children().toggleClass("checked");
		 });
		 $("body").on('click','.abs-shi,.btnzhen-a',function(){
			//$(this).toggleClass("checked");
			
					var cla=$(this).hasClass("checked");
					$(this).toggleClass("checked");
					if(cla==false){
					
						$(".message-box").append($(this).clone())
						 
					}else{
						
						id2=$(this).attr("id2");
						$(".message-box p[id2="+id2+"]").remove(); 
						 
					}
		 });
		$("body").on('click','.abs-sheng,.btnzhen-xian',function(){	
			//$(this).next().children().toggleClass("checked");
			var clas=$(this).next().children().hasClass("checked");
					if(clas==false){
						$(this).next().children().addClass("checked");
						
						$(".message-box").append($(this).next().children().clone())
					} else{
						 $(this).next().children().each(function(){
							 var ar2=$(this).attr("id2");
							$(".message-box p[id2="+ar2+"]").remove(); 
							$(this).removeClass("checked")	 
				 })
						}
		 });
		  $("body").on('click','.message-box p,.message-box a',function(){
					id2=$(this).attr("id2");
					$(this).remove();
					$("[id2="+id2+"]").removeClass("checked")	 
			});
		 $("body").on('click','.b-dj',function(){
			$(this).parent().siblings(".list-memu").find(".list-one").toggleClass("checked");
			
		 });
		$("body").on('click','#btn-zhensub',function(){
			$("body .modal-body .btnzhen-a,body .modal-body .abs-shi,.modal-body a").toggleClass("checked");
			var txt=$(this).text();
		txt=='全选'?txt='取消全选':txt='全选';
		$(this).text(txt);
		 });
		$("#shi").on('click','.b-yes',function(){
			 $(this).siblings("a").toggleClass("checked");
			 $(this).siblings().find("a").toggleClass("checked");
		 });
		$("#shi").on('click',' .xian, .qu',function(){
			$(this).toggleClass("checked");
			//左边状态选中
			
		 });
		$("#shi2").on('click',' .xian, .year,.month,.day',function(){
			$(this).toggleClass("checked");
		 });
		$("#shi3").on('click',' .floata ' ,function(){
			$(this).toggleClass("checked");
		 });
		
		
		$("#btn").on("click",function(){
			var $checked1=$("button.year.btn.btn-default.checked");
			 if($checked1.length!=1){
				alert("请正确选择年！")
			} 
			 for(var i=0;i<$checked1.length;i++){
				//年	
			var qu1=$("button.year.btn.btn-default.checked").eq(i).attr("id1");
					console.log(qu1)	
					//月
					var $checked3=$("button.month.btn.btn-default.checked");	
					 if($checked3.length==0){
							alert("请选择月！")
						} 
					 for(var a=0;a<$checked3.length;a++){
						var qu3=$("button.month.btn.btn-default.checked").eq(a).attr("id3");
						 var $checked4=$("button.day.btn.btn-default.checked");
						 if($checked4.length==0){
								alert("请选择日！")
							} 
						 for(var j=0;j<$checked4.length;j++){
							 //日
							var qu4=$("button.day.btn.btn-default.checked").eq(j).attr("id4");
							//alert()
							// console.log("天"+qu4+$checked4.length);
							 var $checked=$("a.qu.checked");
							 if($checked.length==0){
									alert("请选择时分！")
								} 
								for(var k=0;k<$checked.length;k++){
								qu=$("a.qu.checked").eq(k).attr("id2");
								txts+=qu1+"-"+qu3+"-"+qu4+" "+qu+",";
						 }
					 }
					
			 }
			
				}
			console.log("txts"+txts);
			//调用添加线路方法
			//$("#daodadi").val(txts);
			//form1.submit();
			txts="";
			

		})
	});
	//测试 
	function ceshi(){
		var arr=[{date:"2019-7-4 17:12"},{date:"2019-7-4 18:12"}]
		for(var i=0;i<arr.length;i++){
			var string=arr[i]['date'];
			console.log(string);
			var string1=string.split(" ");
			console.log("分割"+string1);
			var time1=string1[0];
			var time2=string1[1];
			var left=time2.split(":")[0];
			$("a[id2='"+left+"']").toggleClass("checked", true);
			
			$("a[id2='"+time2+"']").toggleClass("checked", true); 
			console.log("time2时间"+time2);
			var time1=string1[0];
			console.log("time1时间"+time1);
			var times=time1.split("-");
			for(var j=0;j<times.length;j++){
				console.log("times时间"+times[j]);
				var year=times[0];
				var month=times[1];
				var day=times[2];
				$("button[id1='"+ year+"']").toggleClass("checked", true); 
				$("button[id3='"+ month+"']").toggleClass("checked", true); 
				$("button[id4='"+ day+"']").toggleClass("checked", true); 
			}
			
			
		}
		
		
	}
	
	function zx(dom){
		var time= dom.getAttribute("id2");
		var hour=time.split(":")[0];
		console.log(hour+"左边")
		$("a[id2="+hour+"]").toggleClass("checked", true);
	}
	
	
</script>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
</head>

<body   data-spy="scroll" data-target="#myScrollspy">
<div style="display:none;" class="nonebox"></div>
<div id="shi2">
	 <div class="jumbotron" >
      <button type="button" class="year  btn btn-default" id1="2019" >2019年</button>
       <button type="button" class="year btn btn-default" id1="2020" >2020年</button>
        <button type="button" class="year  btn btn-default" id1="2021" >2021年</button>
         <button type="button" class="year  btn btn-default" id1="2022" >2022年</button>
          <button type="button" class="year btn btn-default" id1="2023" >2023年</button>
           <button type="button" class="year  btn btn-default" id1="2024" >2024年</button>
           <button type="button" class="year  btn btn-default" id1="2025" >2025年</button>
            <button type="button" class="year btn btn-default" id1="2026" >2026年</button>
             <button type="button" class="year  btn btn-default" id1="2027" >2027年</button>
              <button type="button" class="year  btn btn-default" id1="2028" >2028年</button>
                     <button type="button" class="year  btn btn-default" id1="2029">2029年</button>
        <button type="button" class="year btn btn-default" id1="2030" >2030年</button>
         <button type="button" class="year  btn btn-default" id1="2031" >2031年</button>
          <button type="button" class="year  btn btn-default" id1="2032" >2032年</button>
           <button type="button" class="year  btn btn-default" id1="2033" >2033年</button>
           <button type="button" class="year  btn btn-default" id1="2034" >2034年</button>
            <button type="button" class="year  btn btn-default" id1="2035" >2035年</button>
             <button type="button" class="year  btn btn-default" id1="2036" >2036年</button>
              <button type="button" class="year  btn btn-default" id1="2037" >2037年</button>
           
      <button type="button" class="btn btn-warning" id="btn-zh" >取消选择</button>
    </div>
    <div class="jumbotron">
      <button type="button" class="month  btn btn-default " id3="1" name="month" >1月</button>
       <button type="button" class="month btn btn-default" id3="2" >2月</button>
        <button type="button" class="month  btn btn-default" id3="3" >3月</button>
         <button type="button" class="month  btn btn-default" id3="4" >4月</button>
          <button type="button" class="month  btn btn-default" id3="5" >5月</button>
           <button type="button" class="month  btn btn-default" id3="6" >6月</button>
           <button type="button" class="month  btn btn-default" id3="7" >7月</button>
            <button type="button" class="month  btn btn-default" id3="8" >8月</button>
             <button type="button" class="month  btn btn-default" id3="9" >9月</button>
              <button type="button" class="month btn btn-default" id3="10" >10月</button>
                     <button type="button" class="month  btn btn-default" id3="11" >11月</button>
        <button type="button" class="month  btn btn-default" id3="12" >12月</button>
     <a  class="btn btn-warning" id="" onclick="ceshi()" >测试</a>
    </div>
     <div class="jumbotron">
      <button type="button" class="day  btn btn-default " id4="1" >1日</button>
       <button type="button" class="day  btn btn-default" id4="2" >2日</button>
        <button type="button" class="day btn btn-default" id4="3" >3日</button>
         <button type="button" class="day btn btn-default" id4="4" >4日</button>
          <button type="button" class="day  btn btn-default" id4="5" >5日</button>
           <button type="button" class="day  btn btn-default" id4="6" >6日</button>
           <button type="button" class="day btn btn-default" id4="7" >7日</button>
            <button type="button" class="day  btn btn-default" id4="8" >8日</button>
             <button type="button" class="day  btn btn-default" id4="9" >9日</button>
              <button type="button" class="day  btn btn-default" id4="10" >10日</button>
                     <button type="button" class="day  btn btn-default" id4="11" >11日</button>
        <button type="button" class="day btn btn-default" id4="12" >12日</button>
         <button type="button" class="day  btn btn-default" id4="13" >13日</button>
          <button type="button" class="day  btn btn-default" id4="14">14日</button>
           <button type="button" class="day  btn btn-default" id4="15" >15日</button>
           <button type="button" class="day btn btn-default" id4="16" >16日</button>
            <button type="button" class="day btn btn-default" id4="17" >17日</button>
             <button type="button" class="day  btn btn-default" id4="18" >18日</button>
              <button type="button" class="day  btn btn-default" id4="19" >19日</button>
              <button type="button" class="day  btn btn-default" id4="20" >20日</button>
        <button type="button" class="day  btn btn-default" id4="21" >21日</button>
         <button type="button" class="day  btn btn-default" id4="22" >22日</button>
          <button type="button" class="day  btn btn-default" id4="23" >23日</button>
           <button type="button" class="day btn btn-default" id4="24" >24日</button>
           <button type="button" class="day  btn btn-default" id4="25" >25日</button>
            <button type="button" class="day  btn btn-default" id4="26" >26日</button>
             <button type="button" class="day  btn btn-default" id4="27" >27日</button>
              <button type="button" class="day  btn btn-default" id4="28" >28日</button>
       <button type="button" class="day btn btn-default" id4="29" >29日</button>
             <button type="button" class="day btn btn-default" id4="30" >30日</button>
              <button type="button" class="day  btn btn-default" id4="31" >31日</button>
    </div>
     </div>
<div class="top-box col-xs-9">
  <div id="shi"></div>
</div>
  <div id="shi3">
<div class="floatbox col-xs-3" id="myScrollspy">
	<ul class="nav nav-tabs nav-stacked affix-top" id="myNav">
		
	</ul>
</div>
</div>
<form name="form1" action="xianlu_pladd.asp" method="post">
<input type="button" name="btn" id="btn" class="btn btn-warning" value="确定添加">
<label for="textfield"></label>
<input type="hidden" name="sid" id="sid" value="181">
<input type="hidden" name="action" id="action" value="add">
<input type="hidden" name="daodadi" id="daodadi" value="">
</form>
<form name="form2" action="xianlu_pladd.asp" method="post">
<label for="textfield"></label>
<input type="hidden" name="sid" id="sid" value="181">
<input type="hidden" name="action" id="action" value="add">
<input type="hidden" name="daodadi" id="daodadi1" value="">
</form>
 <button type="button" class="btn btn-danger" id="btn-top" >返回顶部<span class="glyphicon glyphicon-eject"></span></button>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					模态框（Modal）标题
				</h4>
                <button type="button" class="btn btn-warning" id="btn-zhensub">全选</button>
			</div>
            <div class="message">
		您已选择：(顺序如下)
		<div class="message-box">
	 
	</div></div>
			<div class="modal-body">
				<!--在这里添加一些文本-->
			</div>
			<div class="modal-footer">
				<button id="modal-close" type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button id="modal-sub" type="button" class="btn btn-primary">
					确定添加
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
    <button id="modal-sub1" type="button" class="btn btn-primary" style="position: fixed; top: 0; right: 128px; padding-left:21px; padding-right:21px; ">
					确定添加
				</button>
	</div>
<script type="text/javascript">
$(document).ready(function(){
	var data=[{areaname:"7时",areaid:"7"},          
	          {areaname:"8时",areaid:"8"},{areaname:"9时",areaid:"9"},          
	          {areaname:"10时",areaid:"10"},{areaname:"11时",areaid:"11"},
	          {areaname:"12时",areaid:"12"},{areaname:"13时",areaid:"13"},	          
	          {areaname:"14时",areaid:"14"},{areaname:"15时",areaid:"15"},	          
	          {areaname:"16时",areaid:"16"},{areaname:"17时",areaid:"17"},          
	          {areaname:"18时",areaid:"18"},{areaname:"19时",areaid:"19"},          
	          {areaname:"20时",areaid:"20"},{areaname:"21时",areaid:"21"},
	          {areaname:"22时",areaid:"22"},{areaname:"23时",areaid:"23"},
              {areaname:"0时",areaid:"0"},{areaname:"1时",areaid:"1"},
	          {areaname:"2时",areaid:"2"},{areaname:"3时",areaid:"3"},	          
	          {areaname:"4时",areaid:"4"},{areaname:"5时",areaid:"5"},	          
	          {areaname:"6时",areaid:"6"}          
	          ]
	var citystr="";
	var floata="";
	var v=0;
	
	for ( i in data){
				v+=1;
				var sname=data[i]['areaname'];
				//console.log(sname+"sname")
				var spy=data[i]['areaid'];	
				//console.log(spy+"spy00000")
					floata += "<li><a class='floata' href= '#section-"+v+"'  id2="+data[i]['areaid']+">"+data[i]['areaname']+"</a></li>";
					citystr += "<div class='panel panel-primary'>";
					citystr += "<div class='panel-heading'><a  class='pro-span panel-title head-h2'     id= 'section-"+v+"'  qu="+data[i]['areaname']+" >"+data[i]['areaname']+"</a></div>";
					citystr += "<div class='list-memu' id='list-memu'><dl>";
					var data1=[{areaname:"全选",areaid:""}]
					
					//console.log("添加市成功！"+data);
					for(i in data1){
						citystr+="<dd><button class='b-yes btn btn-default'  onselectstart='return false'; >"+data1[i].areaname+"</button>"+
						"<p class='ppp'>";
					 var data2 =[{areaname:"0分",areaid:":00"},{areaname:"1分",areaid:":01"},
					         	          {areaname:"2分",areaid:":02"},{areaname:"3分",areaid:":03"},	          
					        	          {areaname:"4分",areaid:":04"},{areaname:"5分",areaid:":05"},	          
					        	          {areaname:"6分",areaid:":06"},{areaname:"7分",areaid:":07"},          
					        	          {areaname:"8分",areaid:":08"},{areaname:"9分",areaid:":09"},          
					        	          {areaname:"10分",areaid:":10"},{areaname:"11分",areaid:":11"},
					        	          {areaname:"12分",areaid:":12"},{areaname:"13分",areaid:":13"},	          
					        	          {areaname:"14分",areaid:":14"},{areaname:"15分",areaid:":15"},	          
					        	          {areaname:"16分",areaid:":16"},{areaname:"17分",areaid:":17"},          
					        	          {areaname:"18分",areaid:":18"},{areaname:"19分",areaid:":19"},          
					        	          {areaname:"20分",areaid:":20"},{areaname:"21分",areaid:":21"},
					        	          {areaname:"22分",areaid:":22"},{areaname:"23分",areaid:":23"},	
					        	          {areaname:"24分",areaid:":24"},{areaname:"25分",areaid:":25"},	          
					        	          {areaname:"26分",areaid:":26"},{areaname:"27分",areaid:":5"},	          
					        	          {areaname:"28分",areaid:":28"},{areaname:"29分",areaid:":29"},          
					        	          {areaname:"30分",areaid:":30"},{areaname:"31分",areaid:":31"},          
					        	          {areaname:"32分",areaid:":32"},{areaname:"33分",areaid:":33"},
					        	          {areaname:"34分",areaid:":34"},{areaname:"35分",areaid:":35"},	          
					        	          {areaname:"36分",areaid:":36"},{areaname:"37分",areaid:":37"},	          
					        	          {areaname:"38分",areaid:":38"},{areaname:"39分",areaid:":39"},          
					        	          {areaname:"40分",areaid:":40"},{areaname:"41分",areaid:":41"},          
					        	          {areaname:"42分",areaid:":42"},{areaname:"43分",areaid:":43"},
					        	          {areaname:"44分",areaid:":44"},{areaname:"45分",areaid:":45"},
					        	          {areaname:"46分",areaid:":46"},{areaname:"47分",areaid:":47"},
					        	          {areaname:"48分",areaid:":48"},{areaname:"49分",areaid:":49"},	          
					        	          {areaname:"50分",areaid:":50"},{areaname:"51分",areaid:":51"},	          
					        	          {areaname:"52分",areaid:":52"},{areaname:"53分",areaid:":53"},          
					        	          {areaname:"54分",areaid:":54"},{areaname:"55分",areaid:":55"},          
					        	          {areaname:"56分",areaid:":56"},{areaname:"57分",areaid:":57"},
					        	          {areaname:"58分",areaid:":58"},{areaname:"59分",areaid:":59"}
					        	          ]
					for(var a=0;a<data2.length;a++){
						citystr +="<a   onclick='zx(this)' id2="+spy+data2[a]["areaid"]+" qu="+spy+" class='qu' href='javascript:;'>"+sname+data2[a]["areaname"]+"</a>";
					     } 
					}
					citystr+="</p>";
					citystr+="</dd>";
					
						citystr += "</div>";
						citystr += "</div>";
						
						
				}
	           // console.log("citystr"+citystr)
				/* floata += "<li><a class='floata' href= '#section-32'  id2='2426'>香港</a></li>";
						floata += "<li><a class='floata' href= '#section-33'  id2='2427'>澳门</a></li>";
						floata += "<li><a class='floata' href= '#section-34'  id2='3087'>台湾</a></li>"; */
						/* citystr += "<a  class='pro-span panel-title head-h2' qu='香港_2426'   id= 'section-32' id2='2426'> 香港</a>";
						citystr += "<a  class='pro-span panel-title head-h2' qu='澳门_2427'   id= 'section-33' id2='2427'> 澳门</a>";
						citystr += "<a  class='pro-span panel-title head-h2' qu='台湾_3087'   id= 'section-34' id2='3087'> 台湾</a>"; */
				$("#shi").html(citystr);  
				
				$("#myNav").html(floata);
				//$(".panel-heading:lt(3)").remove();
				$(".panel:lt(3)").css("border","0");
				/* $(".list-one:eq(0)").attr("id","section-1");
				$(".list-one:eq(1)").attr("id","section-2");
				$(".list-one:eq(2)").attr("id","section-3"); */
				
     




});

	
	
	



</script>
</body>
</html>