
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>56114主页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/public/static/css/sm.min.css">
    <link rel="stylesheet" href="/public/static/css/sm-extend.min.css">
    <link rel="stylesheet" type="text/css" href="/public/static/css/publicHead.css"/>
    <link rel="stylesheet" type="text/css" href="/public/static/css/index.css"/>
</head>
<body>
    <div class="page-group">
        <div class="page page-current" id="aaa">
        	<!-- 你的html代码 -->
		    
		    <div class="content">
		    <!-- 这里是页面内容区 -->
		    	<header class="head">
				    <a class="logo" href="#" data-transition='slide-out' rel="nofollow">
				    	<img src="/public/static/img/logo.png" alt="加载失败"/>
				    </a>
			    </header>
		    	<div class="search">
		    		<div class="from">
		    			<input type="text" name="from" id="from" txt="" value="" placeholder="出发地" readonly="readonly"/>
		    		</div>
		    		<div class="search-img">
		    			<img src="/public/static/img/twoWayArrow.png"/>
		    		</div>
		    		<div class="to">
		    			<input type="text" name="to" id="to" value="" placeholder="到达地" readonly="readonly"/>
		    		</div>
		    		<div class="sou">
		    			<img src="/public/static/img/serach.png" alt="加载失败"/>
		    		</div>
		    	</div>
		    	<div class="modular">
		    		<div class="modular-img zhuanxian">
		    			<img src="/public/static/img/wuliuzhuanxian3x.png"/>
		    			<span>物流专线</span>
		    		</div>
		    		<div class="modular-img chaxun">
		    			<img src="/public/static/img/danhaochaxun3x.png"/>
		    			<span>单号查询</span>
		    		</div>
		    		<div class="modular-img xiadan">
		    			<img src="/public/static/img/woyaofahuo3x.png"/>
		    			<span>我要发货</span>
		    		</div>
		    		<div class="modular-img guanjia">
		    			<img src="/public/static/img/wuliuguanjia3x.png"/>
		    			<span>物流管家</span>
		    		</div>
		    		<div class="modular-img goodsSource">
		    			<img src="/public/static/img/goodsSource.png"/>
		    			<span>货源信息</span>
		    		</div>
		    		<div class="modular-img appPicture">
		    			<img src="/public/static/img/appPicture.png"/>
		    			<span>app下载</span>
		    		</div>
		    		<div class="modular-img vehicleSearch">
		    			<img src="/public/static/img/search.png"/>
		    			<span>车辆搜索</span>
		    		</div>
		    		<a href="tel:4006056114">
		    			<div class="modular-img search1 customerService.png">
			    			<img src="/public/static/img/customerService.png"/>
			    			<span>客服电话</span>
			    		</div>
		    		</a>
		    	</div>
		    	
		    	<div class="dibu_black">
		    		<div class="dibu_banben">
		    			<ul>
		    				<li><a href="#" rel="nofollow">触屏版</a></li>
		    				<li><a href="#" rel="nofollow">电脑版</a></li>
		    				<li><a href="#" rel="nofollow">客户端</a></li>
		    				<li><a href="#" rel="nofollow">微信版</a></li>
		    			</ul>
		    		</div>
		    		<div class="ditu_banqu">
		    			<a href="http://m.56114.net.cn">56114物流查询网</a>
		    			&nbsp;&nbsp;豫ICP备09031960号
		    		</div>
		    		<div class="kongbai">
		    			
		    		</div>
		    	</div>
		    </div>
		    <footer class="footer">
		    	
		    </footer>
        </div>
    </div>
</body>
<script type='text/javascript' src='/public/static/js/sm-zepto.min.js'></script>
<script type='text/javascript' src='/public/static/js/sm.min.js'></script>
<script type="text/javascript" src="/public/static/js/index.js"></script>
<script type="text/javascript" src="/public/static/js/publicHead.js"></script>
</html>