
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/h-ui/css/H-ui.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.min.css" />
<!--[if lt IE 9]>
<link href="static/h-ui/css/H-ui.ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<style type="text/css">
.ui-sortable .panel-header{ cursor:move}
</style>
<title>物流123</title>
<meta name="keywords" content="物流,物流网,物流公司,物流查询,货运信息网,物流配货网,配货信息网,空车配货,车源,货源网,物流专线,物流信息网">
<meta name="description" content="物流123网是集物流查询、物流配货的专业一站式物流货运信息网，是货运物流公司、货车、快递公司、搬家公司、海运公司、空运公司、发货商的汇聚地，是物流货运信息非常全面、社会需求面极广、实用性极强的物流行业网站!">
</head>
<body >

<div class="containBox">
    <div class="containBox-bg"></div>
	<div  th:replace="_header :: common_resource"></div>
	<div class="container ui-sortable">
    <div class="panel panel-default mt-20">
				<div class="panel-body">
					<table class="table table-border table-bordered table-striped table-responsive mt-20 radius">
						<thead>
						<tr>没有你想要的？尝试下列网站搜索:</tr>
						</thead>
						<tbody>
							<tr>
							<td ><a class="btn radius btn-secondary-outline radius" href="http://www.56114.net.cn/" target="_blank" >56114物流查询网</a></td>
							<td ><a class="btn radius btn-secondary-outline radius" href="http://www.chinawutong.com/" target="_blank" >中国物通网</a></td>
			                <td ><a class="btn radius btn-secondary-outline radius" href="http://www.china-wl.cn/" target="_blank" >中国物流信息网</a></td>
							<td ><a class="btn radius btn-secondary-outline radius" href="http://www.rrs.com/" target="_blank" >日日顺物流</a></td>
							<td ><a class="btn radius btn-secondary-outline radius" href="http://www.jc56.com" target="_blank" >锦程国际物流</a></td>
							</tr>
							
							<tr>
								<td><a class="btn btn-warning-outline radius" href="http://www.uce.cn/index.html" target="_blank" >优速快递网</a></td>
								<td><a class="btn btn-warning-outline radius" href="http://www.ems.com.cn/mailtracking/you_jian_cha_xun.html" target="_blank" >中国邮政速递物流</a></td>
                                <td><a class="btn btn-warning-outline radius" href="https://www.deppon.com/" target="_blank" >德邦物流网</a></td>
								 <td><a class="btn btn-warning-outline radius" href="http://www.jdwl.com/" target="_blank" >京东物流</a></td>
								<td><a class="btn btn-warning-outline radius" href="https://www.cainiao.com/" target="_blank" >菜鸟</a></td>
							</tr>
							<tr>
                              <td><a class="btn btn-success-outline radius" href="http://www.yto.net.cn/" target="_blank" >圆通速递</a></td>
								<td><a class="btn btn-success-outline radius" href="http://www.yundaex.com/" target="_blank" >韵达快递</a></td>              
							   <td><a class="btn btn-success-outline radius" href="https://www.ttkdex.com/" target="_blank" >天天快递</a></td>
							<td><a class="btn btn-success-outline radius" href="http://www.sf-express.com/" target="_blank" >顺丰快递</a></td>
							<td><a class="btn btn-success-outline radius" href="https://www.kuaidi100.com/" target="_blank" >快递100</a></td>
							</tr>
							<tr>
							<td><a class="btn btn-danger-outline radius" href="https://www.qq.com/" target="_blank" >腾讯网</a></td>
							<td><a class="btn btn-danger-outline radius" href="https://www.sina.com.cn/" target="_blank" >新浪网</a></td>
							<td><a class="btn btn-danger-outline radius" href="http://www.ifeng.com/" target="_blank" >凤凰网</a></td>
							<td><a class="btn btn-danger-outline radius" href="https://www.baidu.com/" target="_blank" >百度</a></td>
							<td><a class="btn btn-danger-outline radius" href="https://zz.58.com/" target="_blank" >58同城</a></td>
							
							</tr>
						</tbody>
					</table>
				</div>
			</div>
    
			<div class="panel panel-default mt-20">
				<div class="panel-header">广告招商</div>
				<div class="panel-body">
					<div>
						<img src="/imgs/avatar/20180414165754.jpg" class="avatar radius size-S">
						<img src="/imgs/avatar/20180414165754.jpg" class="avatar radius size-M">
						<img src="/imgs/avatar/20180414165754.jpg" class="avatar radius size-L">
						<img src="/imgs/avatar/20180414165754.jpg" class="avatar radius size-XL">
					</div>
					<div class="maskWraper" style="width:300px; height:250px; border:solid 1px #ddd;">
						<img src="http://images.h-ui.net/www/AD-300x250.gif" width="300" height="250">
						<div class="maskBar text-c">遮罩条</div>
					</div>
				</div>
			</div>
		</div>	
		</div>
	<!--footer-->  
<div  th:replace="_footer :: common_resource"></div>
<script data-th-src="@{old/app/ciye.js}"></script>
</body>
</html>
<!--H-ui前端框架提供前端技术支持 h-ui.net @2018-09-17 -->
